config ebusd
	option disabled '0'

	# device/transport, e.g. "enh:IP:PORT" or "/dev/ttyUSB0"
	option device 'enh:192.168.1.13:9999'

	# corresponds to --scanconfig
	option scanconfig '1'

	# corresponds to --httpport
	option httpport '8889'

	# corresponds to --configlang
	option configlang 'en'

	# optional extras (uncomment if needed)
	# option loglevel 'notice'   # mapped to --loglevel
	# option configpath '/etc/ebusd' # mapped to --configpath

	# If unset, ebusd logs to syslog (logread) and logrotate is not used.
	# If set, ebusd will log to this file and logrotate can manage it.
	# option logfile '/var/log/ebusd.log'
